  body {

    background-color: #fff1a8;
  }

  hr {


    border-top: 0.5em dotted #a10054;
border-top-width: 10%;
border-left-width: 0;
border-right-width: 0;
width: 7%;

  }

h1{

color: #2d5c7f;

}

h3{

color: #2d5c7f;

}
